# Arquivos temporários gerados pelo Visual Studio
.vscode/
.vs/

# Arquivos binários e de compilação
bin/
obj/

# Pacotes NuGet
*.nuget.props
*.nuget.targets
packages/

# Arquivos de saída de compilação
*.user
*.suo
*.cache
*.log
*.vspscc

# Dependências do Rider
.idea/

# Arquivos de configuração de projeto
*.sln.iml
*.suo
*.userprefs

# Ferramentas de construção
_ReSharper/
[Tt]est[Rr]esult*/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Cache de análise de código
.roslyn/
